html{
    scroll-behavior: smooth;
}

.navbar{
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}
.navbar .nav-item .nav-link{
    color: #fff;
}

.main-header{
    position: relative;
    background: url(./Imagenes/background.jpg);
    background-size: cover;
    min-height: 595px;
}
.background-overlay{
    position: absolute;
    background: rgba(48, 51, 107,.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.custom-title{
    width: 100%;
}
.custom-text{
    margin-top: 140px;
}
 .custom-heigth{
    /* height: ; */
    width: 200px;
    /* border: 1px solid red; */
} 
.custom-imgH{
    height: 100px;
    width: 150px;
}
.custom-image{
    transform: rotate(90deg);
    margin-top: 150px;
    /* margin-right: 0px; */
}
.custom-design{
    border-radius: 0;

}
.custom-cardT{
    /* width: 200px; */
    height: 200px;

}

.team,footer{
    background-color: #30336b;
}
/* .custom-size{
    /* height: 100px; 
} */

/* style de pricing_table */

.body-pricing{
    background: #eee;
    font-family:'poppins';
}

.wrapper{
    width: 900px;
    margin: 5% auto;
}

.single-price{
    /* color: #fff; */
    width: 33%;
    background: #262626;
    float: left;
    margin-top: 2%;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
    text-align: center;
    transition: 0.9s;
}
.price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #da4357;
    margin: 5% auto 0 auto;
    text-align: center;
}
.deals{
    margin-top: 10%;
}
.single-price h1{
    font-size: 18px;
    color: #fff;
    line-height: 3;
    text-transform: uppercase;
}
.price h2{
    font-size: 38px;
    color: #fff;
}
.deals h4{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    line-height: 1;
}
.single-price:hover{
    background: #da4357;
    color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    transform: scale(1.1);
    z-index: 1;
    border-radius: 25px;
}

.single-price:hover .price{
    border-color: #fff;
}
.single-price a{
    text-decoration: none;
    background: #da4357;
    color: #fff;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}
.single-price:hover a{
    background: #262626;
    color: #fff;
}
/* Estilos recepcion de correo */
/* *{
    margin: 0;
    padding: 0;
} */
.body_Rc{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    
}
.custom-wrapper{
    width: 1170px;
    margin: 0 auto;

}

.logo{
    width: 20%;
    float: left;
    padding: 30px 0 0;
}
.logo_empresa{
    width: 18%;
}
.nav_RC{
    width: 75%;
    float: right;
    text-align: right;
    padding: 30px 0 0;

}
.nav_RC a{
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
}
.navigation{
    height: 60px;
}
.banner-area{
    animation-name: animate;
    animation-duration:  7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 100vh;
}
.text-area{
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.text-area h2{
    font-size: 75px;
    color: #fff;
    margin: 10% 0 0;
}
.text-area h3{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 35px; 
}
.text-area p{
    font-size: 18px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    line-height: 1.9;
}
@keyframes animate{
    0%{
        background-color: #29306a;
    }
    25%{
        background-color: #e60084;
    }
    50%{
        background-color: #ad7c66;
    }
    75%{
        background-color: #005762;
    }
    100%{
        background-color: #4c9ab6;
    }
}
